{% extends "base.html" %}
{% block sub_content %}
<div class="text-center">
    <h1>User List</h1>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[3] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
